<div class="card employee-card border-info">
    <div class="card-header bg-info">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title text-white"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item border-info">ID: {{ id }}</li>
            <li class="list-group-item border-info">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item border-info">Office number: {{ officeNumber }}</li>
        </ul>
    </div>
</div>
